dist: bionic
script:
- sudo update-alternatives -remove “java” “/usr/lib/jvm/jdk[version]/bin/java”
- sudo update-alternatives -remove “javac” “/usr/lib/jvm/jdk[version]/bin/javac”
- echo $JAVA_HOME
- cat ~/.bashrc
- chmod +x ./script.sh
- ./script.sh
#- wget -O - https://packages.adoptium.net/artifactory/api/gpg/key/public | sudo tee /usr/share/keyrings/adoptium.asc
#- echo "deb [signed-by=/usr/share/keyrings/adoptium.asc] https://packages.adoptium.net/artifactory/deb $(awk -F= '/^VERSION_CODENAME/{print$2}' /etc/os-release) main" | sudo tee /etc/apt/sources.list.d/adoptium.list
#- sudo apt-get update -yqq
#- sudo apt-get install temurin-17-jdk --allow-unauthenticated
#- sudo apt-get -yqq --no-install-suggests --no-install-recommends install temurin-17-jdk || true
#- export JAVA_HOME/usr/lib/jvm/temurin-17-jdk-amd64
#- export PATH=$PATH:$JAVA_HOME/bin
#- sudo update-alternatives --config java 0
#- sudo update-java-alternatives -s "temurin-17-jdk-amd64"*
#- sudo apt-get install -y wget apt-transport-https
#- wget -O - https://packages.adoptium.net/artifactory/api/gpg/key/public | sudo tee /usr/share/keyrings/adoptium.asc
#- echo "deb [signed-by=/usr/share/keyrings/adoptium.asc] https://packages.adoptium.net/artifactory/deb $(awk -F= '/^VERSION_CODENAME/{print$2}' /etc/os-release) main" | sudo tee /etc/apt/sources.list.d/adoptium.list
#- sudo apt-get update
#- sudo apt-get install temurin-17-jdk --allow-unauthenticated
#- sudo update-java-alternatives -s "temurin-17-jdk-arm64"
#- export PATH=/usr/lib/jvm/temurin-8-jdk-arm64/bin:$PATH
#- wget https://github.com/adoptium/temurin16-binaries/releases/download/jdk-16.0.2%2B7/OpenJDK16U-jdk_x64_linux_hotspot_16.0.2_7.tar.gz
#- tar xzf OpenJDK16U-jdk_x64_linux_hotspot_16.0.2_7.tar.gz
#- export PATH=$PWD/jdk-16.0.2+7/bin:$PATH
- sudo update-java-alternatives -l
- java --version
- echo $JAVA_HOME

notifications:
  email: false

